 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChangePassword Page</title>
    <link rel = "shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="/static/js/fontawason.js"></script>
    <script src="/static/js/jquary.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/Changepassword.css">
</head>
<body>
    {% include "navigation.html"%}
    <div class="change-password-container">
        <h2>Change Password</h2>
        {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="current-password">Current Password</label>
                <input type="password" id="current-password" name="current-password" required>
            </div>
            <div class="form-group">
                <label for="new-password">New Password</label>
                <input type="password" id="new-password" name="new-password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm New Password</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <button type="submit">Change Password</button>
        </form>
        <div class="form-footer">
            <p class="pp">Remember your password? <a href="Login.html">Log in</a></p>
        </div>
    </div>
    {% include "footer.html"%}
</body>
</html> 
