<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New password</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
	{% comment %} .<script src="https://kit.fontawesome.com/815d5311a8.js" crossorigin="anonymous"></script> {% endcomment %}
	.<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/static/css/Login.css">
</head>
<body>

    {% include "navigation.html" %}
    <div class="login-container">
        <h2>Enter New Password</h2>
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="color: red;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="confirm_password" placeholder="Enter your password" required>
            </div>
            <button type="submit">Login</button>
            
            <div class="links">
                {% comment %} <a href="Forgotpassword.html" class="forgot-password">Forgot password?</a> {% endcomment %}
                <span class="form-footer">Remember your password? <a href="{% url 'Login' %}">Login Here</a></span>
            </div>
        </form>
    </div>
    {% include "footer.html"%}
    <script src="/static/js/jquary.min.js"></script>
    <script src="/static/js/fontawason.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>