<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    {% comment %} <script src="https://kit.fontawesome.com/815d5311a8.js" crossorigin="anonymous"></script> {% endcomment %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/static/css/Forgotpassword.css">
    <style>
        

    </style>
</head>
<body>

    {% include "navigation.html" %}
    <form method="POST">
        {% csrf_token %}
    <div>
    <div class="forgot-password-container">
        <!-- Forgot Password Icon -->
        {% comment %} <img src="/static/img/bg-img/forgot.png" alt="Forgot Password"> {% endcomment %}
        
        <h2>Forgot Password?</h2>
        <p>Enter your email and we'll send you a link to reset your password.</p>
        
        {% comment %} <form action="/submit-forgot-password" method="post"> {% endcomment %}
            <form action="Verifyotp.html" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>

            <a href="Verifyotp.html"> 
                <button type="submit">Send OTP</button>
            </a>
        </form>``

        <!-- Back to Login Link -->
        <a href="Login.html" class="back-to-login">Back to Login</a>
    </div>
</div>
</form>
    {% include "footer.html"%}
    <script src="/static/js/jquary.min.js"></script>
    <script src="/static/js/fontawason.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
