<!DOCTYPE html>
<html>
<head>
  <title>Gallery</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/815d5311a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/static/js/mycart.js"></script>
    <script src="/static/js/myscript.js"></script>
    <link rel="stylesheet" href="/static/css/Gallery.css">
    <link rel="stylesheet" href="/static/css/Navigation.css">

</head>

<body>

  <!--  N A V I G A T I O N   B A R  -->

  {% include "navigation.html" %}

    <!--chat box-->
    {% include "chatbox.html" %}


    <div class="header">
        <h1>G A L L E R Y</h1>
    </div>

    <!-- P H O T O S -->

    <div class="subheader">
        <h2>SPECIALS</h2>
            <p>- A collection of images of all our special menus (limited period items)!</p>
    </div>

    <div class="row"> 

        <div class="column">
            <img src="https://i.pinimg.com/474x/01/fa/96/01fa9660e0c4591c1be323f753ba7c67.jpg">
            <img src="https://i.pinimg.com/474x/17/01/f6/1701f664ec2143c894664f174b555c81.jpg">
            <img src="https://i.pinimg.com/474x/98/37/c4/9837c423b77bf82627c4ef6d94976faf.jpg">
            <img src="https://i.pinimg.com/474x/d4/80/16/d480161e7fcfcd5b04f77b84168d5567.jpg">
            <img src="https://i.pinimg.com/474x/c4/02/f6/c402f678e4ef06b21e92169073b7d03a.jpg">
            <img src="https://i.pinimg.com/474x/0c/18/96/0c18965ee529f4c8c7e32227bbe7864b.jpg">
            <img src="https://i.pinimg.com/474x/2d/0f/83/2d0f83c9174a30ea180ad31b2d8cc2c8.jpg">
        </div>

        <div class="column">
            <img src="https://i.pinimg.com/474x/df/4c/56/df4c56c13320813e89479dc623a5e6de.jpg">
            <img src="https://i.pinimg.com/474x/55/b5/4e/55b54ef5f57598205995c98c0ce9dc32.jpg">
            <img src="https://i.pinimg.com/474x/07/fe/40/07fe404ca9327bf56c87b24a8b9208e2.jpg">
            <img src="https://i.pinimg.com/474x/9b/8c/df/9b8cdf0bee5360ae58a94698d3cf5219.jpg">
            <img src="https://i.pinimg.com/474x/ba/63/6b/ba636b5ad83ae0f549bd9731a2f02346.jpg">
            <img src="https://i.pinimg.com/474x/71/9e/82/719e82b6347aa0014f3a11ab4b79f959.jpg">
            <img src="https://i.pinimg.com/474x/2b/8f/b0/2b8fb0e0bc245bbfcf5b0755b58b2693.jpg">
        </div>

        <div class="column">
            <img src="https://i.pinimg.com/474x/24/f3/58/24f358d734ad3527ca40343ea41a8576.jpg">
            <img src="https://i.pinimg.com/474x/d9/a1/eb/d9a1eba110dff93d7592aa84a3519d66.jpg">
            <img src="https://i.pinimg.com/474x/cb/44/66/cb44665b41adeda4a0c1ad15c5d0e4d0.jpg">
            <img src="https://i.pinimg.com/474x/52/03/50/5203509a81366ebe056ea0c18e8127af.jpg">
            <img src="https://i.pinimg.com/474x/6a/4f/a8/6a4fa85dd24d9fb0bb9497682836ddbf.jpg">
            <img src="https://i.pinimg.com/474x/6d/ff/7f/6dff7f832c1a5cab8e0b64cf8e998371.jpg">
            <img src="https://i.pinimg.com/474x/7c/0a/4a/7c0a4aa5872152c8caa44ed9236a4509.jpg">
        </div>

        <div class="column">
            <img src="https://i.pinimg.com/474x/12/1c/ff/121cfff0843a2cc3721013952049580b.jpg">
            <img src="https://i.pinimg.com/474x/a3/6c/69/a36c69f187aa35cd38f3bc03c5a93f63.jpg">
            <img src="https://i.pinimg.com/474x/3b/30/da/3b30da5509d6132566dec5287177104e.jpg">
            <img src="https://i.pinimg.com/474x/24/c5/b5/24c5b5373334d58b429e73b3388764dc.jpg">
            <img src="https://i.pinimg.com/474x/9c/c1/b7/9cc1b7cc0be0804dda0d93f7e35871a9.jpg">
            <img src="https://i.pinimg.com/474x/44/ff/2a/44ff2a60cceecbff14bdc41843221019.jpg">
            <img src="https://i.pinimg.com/474x/d4/20/12/d42012ba478399a12a8e8df66b23a693.jpg">
        </div>

    </div>

    <div class="subheader">
        <h2>CUSTOMER IMAGES</h2>
            <p>- A collection of images provided by our customers!</p>
    </div>

    <div class="row"> 

        <div class="column">
            <img src="https://i.pinimg.com/474x/bd/b4/83/bdb48324cdcaccb1920bc19b2188ac1c.jpg">
            <img src="https://i.pinimg.com/474x/af/b9/48/afb9484d70eb70e3547fcc06e36cd130.jpg">
            <img src="https://i.pinimg.com/474x/b4/1d/17/b41d17db17b10b29bbeb6cc8ade54a33.jpg">
            <img src="https://i.pinimg.com/474x/b8/90/8e/b8908e78d83a6a1c17c01ca4f7833671.jpg">
            <img src="https://i.pinimg.com/474x/8b/b5/49/8bb549539dea966122804a30e787302d.jpg">
        </div>

        <div class="column">
            <img src="https://i.pinimg.com/474x/f5/41/86/f5418697f22c7dbadad5c9651d2bd42a.jpg">
            <img src="https://i.pinimg.com/474x/0a/bf/0c/0abf0c0ea22043119edd1cae21d1f9c6.jpg">
            <img src="https://i.pinimg.com/474x/07/fe/40/07fe404ca9327bf56c87b24a8b9208e2.jpg">
            <img src="https://i.pinimg.com/474x/9b/8c/df/9b8cdf0bee5360ae58a94698d3cf5219.jpg">
            <img src="https://i.pinimg.com/474x/99/3f/ce/993fcec26498ed282120ac54a7a7439f.jpg">
        </div>

        <div class="column">
            <img src="https://i.pinimg.com/474x/c2/d9/37/c2d93707973cdeca8efafa91882952ae.jpg">
            <img src="https://i.pinimg.com/474x/80/e5/ac/80e5ac9f153f5fff3a85b5387eef9d3c.jpg">
            <img src="https://i.pinimg.com/474x/62/08/78/6208785696b97d802872085b54bb6361.jpg">
            <img src="https://i.pinimg.com/474x/1e/e4/3c/1ee43c61f46cea3b3451aeefc484d782.jpg">
            <img src="https://i.pinimg.com/564x/74/59/49/745949d7c89a30a598fffbdc99bfc288.jpg">
        </div>

        <div class="column">
            <img src="https://i.pinimg.com/474x/c2/82/b7/c282b7e21188e5c38295d913c6d0ca59.jpg">
            <img src="https://i.pinimg.com/474x/cb/db/46/cbdb461ee6da1e6b265bf70767b2b4bf.jpg">
            <img src="https://i.pinimg.com/474x/0a/ca/77/0aca778bc909355c345979ed43e1d9c3.jpg">
            <img src="https://i.pinimg.com/474x/fb/1d/40/fb1d40a4e7dd272995ee687d40e29a1c.jpg">
            <img src="https://i.pinimg.com/474x/2c/98/25/2c98253cca906342806b0b39c4164f91.jpg">
        </div>

    </div>

    <!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel" style="font-weight:bold;">Your Cart</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        <div class="cart-body">
        </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary checkout-btn" onclick="Checkout()">Checkout</button>
        </div>
      </div>
    </div>
  </div>

  <!-- F O O T E R   S O C I A L   I C O N S -->

  {% include "footer.html" %}

</body>
</html>
