<!DOCTYPE html>
<html>
<head>

    <title>Pastries</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/815d5311a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/pastries.css">
    <link rel="stylesheet" href="/static/css/Navigation.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

	<!--  N A V I G A T I O N   B A R  -->

    {% include "navigation.html" %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var message = "{{ messages|join:' ' }}"; // Get Django messages as a string
    
            if (message.trim() !== "") {
                Swal.fire({
                    title: "Notification",
                    text: message,
                    icon: "warning",  // Change to "success", "error", "info" as needed
                    confirmButtonText: "OK",
                    timer: 3000, // Auto close after 3 seconds
                    showConfirmButton: false
                });
            }
        });
    </script>
    
    <!--  M A I N   C O N T E N T  -->

    <div id="heading">
        <h1>Pastries</h1>
        <h4>"You may feel that you have eaten too much; but pastries are like feather like snow. They are in fact good for you, a digestive!"<br>- M.F.K. Fisher</h4>
    </div>


    <!--  I T E M   C A R D S  -->

    <div id="main">
        {% for product in products %}
        <div class="card">
            <!-- Wishlist Heart Icon (Top Right) -->
            <form action="{% url 'add_to_wishlist' product.product_id %}" method="post" class="wishlist-form">
                {% csrf_token %}
                <button type="submit" class="wishlist-btn">
                    <i class="fa fa-heart"></i>  <!-- ❤️ Font Awesome Heart -->
                </button>
            </form>
    
            <!-- Product Image -->
            <a href="{% url 'product_detail' product.product_id %}">
                <img src="{{ product.image.url }}" class="item-img" alt="{{ product.name }}">
            </a>
                      <h1>{{ product.name }}</h1>
                    
            <p class="description">{{ product.description }}</p>
        
            <!-- Price Selection -->
            <form action="{% url 'add_to_cart' product.product_id %}" method="post">
                {% csrf_token %}
                <label for="price_option_{{ product.id }}">Select Price:</label>
                <select name="selected_price_option" id="price_option_{{ product.id }}" class="price-dropdown">
                    {% for price_option in product.price_options %}
                        <option value="{{ price_option|default:''|striptags }}">₹{{ price_option|default:''|striptags }}</option>
                    {% endfor %}
                </select>
    
                {% if product.stock > 0 %}
                    <button class="button" type="submit">Add to Cart</button>
                {% else %}
                    <button  class="button" style="background-color: red; color: white; font-weight: bold;" disabled>Out of Stock</button>
                {% endif %}
            </form>
        </div>
    {% empty %}
        <p>No products found.</p>
    {% endfor %}
    </div>
</div>

{% include "footer.html" %}

</body>
</html>
        {% comment %} <div class="card">
            <img src="/static/img/core-img/pastrie1.jpg" class="item-img">
            <h1>Pista Rose</h1>
            <form name="form22">
                <select id="a50" class="price-dropdown" name="select22" Onchange="change(50)" value="Quanity and Price-22">
                    <option value="39,1 piece">1 piece ~ ₹39</option>
                    <option value="75, 2 piece">2 pieces ~ ₹75</option>
                    <option value="109,3 piece">3 pieces ~ ₹109</option>
                    <option value="145,4 piece">4 pieces ~ ₹145</option>
                </select>
            </form>
            <p id="demo50" class="item-price">1 piece ~ ₹39</p>
            <p class="description">Have a piece of pista and rosewater layer cake!</p>
            <p><button onclick="add_to_cart('50','Pista Rose',document.getElementById('a50').value)">Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="/static/img/core-img/pastrie2.jpg" class="item-img">
            <h1>Healthy Treat</h1>
            <form name="form23">
                <select id="a23" class="price-dropdown" name="select23" Onchange="change23()" value="Quanity and Price-23">
                    <option value="1 piece ~ ₹39">1 piece ~ ₹39</option>
                    <option value="2 pieces ~ ₹75">2 pieces ~ ₹75</option>
                    <option value="3 pieces ~ ₹109">3 pieces ~ ₹109</option>
                    <option value="4 pieces ~ ₹145">4 pieces ~ ₹145</option>
                </select>
            </form>
            <p id="demo23" class="item-price"></p>
            <p class="description">Almond cake with cardamom and pistachio for health freaks!</p>
            <p><button onclick="add_to_cart('2','Healthy Treat','39')">Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="/static/img/core-img/pastrie3.jpg" class="item-img">
            <h1>Carrot Gem</h1>
            <form name="form24">
                <select id="a24" class="price-dropdown" name="select24" Onchange="change24()" value="Quanity and Price-24">
                    <option value="1 piece ~ ₹39">1 piece ~ ₹39</option>
                    <option value="2 pieces ~ ₹75">2 pieces ~ ₹75</option>
                    <option value="3 pieces ~ ₹109">3 pieces ~ ₹109</option>
                    <option value="4 pieces ~ ₹145">4 pieces ~ ₹145</option>
                </select>
            </form>
            <p id="demo24" class="item-price"></p>
            <p class="description">Another special, a carrot cheesecake for the health conscious!</p>
            <p><button onclick="add_to_cart('3','Carrot Gem','39')">Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="/static/img/core-img/pastrie4.jpg" class="item-img">
            <h1>Choco Dream</h1>
            <form name="form20">
                <select id="a20" class="price-dropdown" name="select20" Onchange="change20()" value="Quanity and Price-20">
                    <option value="1 piece ~ ₹39">1 piece ~ ₹39</option>
                    <option value="2 pieces ~ ₹75">2 pieces ~ ₹75</option>
                    <option value="3 pieces ~ ₹109">3 pieces ~ ₹109</option>
                    <option value="4 pieces ~ ₹145">4 pieces ~ ₹145</option>
                </select>
            </form>
            <p id="demo20" class="item-price"></p>
            <p class="description">A literal chocolate heaven - this is what cake dreams are made of!</p>
            <p><button onclick="add_to_cart('4','Choco Dream','39')">Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="/static/img/core-img/pastrie5.jpg" class="item-img">
            <h1>Pista Heaven</h1>
            <form name="form21">
                <select id="a21" class="price-dropdown" name="select21" Onchange="change21()" value="Quanity and Price-21">
                    <option value="1 piece ~ ₹49">1 piece ~ ₹49</option>
                    <option value="2 pieces ~ ₹85">2 pieces ~ ₹85</option>
                    <option value="3 pieces ~ ₹119">3 pieces ~ ₹119</option>
                    <option value="4 pieces ~ ₹155">4 pieces ~ ₹155</option>
                </select>
            </form>
            <p id="demo21" class="item-price"></p>
            <p class="description">A 3-layered pistachio cake covered in silky smooth cream cheese frosting!</p>
            <p><button onclick="add_to_cart('5','Pista Heaven','49')">Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="/static/img/core-img/pastrie6.jpg" class="item-img">
            <h1>Rasp Honey</h1>
            <form name="form19">
                <select id="a19" class="price-dropdown" name="select19" Onchange="change19()" value="Quanity and Price-19">
                    <option value="1 piece ~ ₹59">1 piece ~ ₹59</option>
                    <option value="2 pieces ~ ₹109">2 pieces ~ ₹109</option>
                    <option value="3 pieces ~ ₹169">3 pieces ~ ₹169</option>
                    <option value="4 pieces ~ ₹219">4 pieces ~ ₹219</option>
                </select>
            </form>
            <p id="demo19" class="item-price"></p>
            <p class="description">Elegant looking honey and raspberry entremet!</p>
            <p><button onclick="add_to_cart('6','Rasp Honey','59')">Add to Cart</button></p>
        </div> {% endcomment %}

        {% comment %} <div class="card">
            <img src="https://i.pinimg.com/474x/7a/07/9d/7a079d9ab9634bfd6b051dbcc59d2ace.jpg" class="item-img">
            <h1>Purple Snow</h1>
            <form name="form12">
                <select id="a12" class="price-dropdown" name="select12" Onchange="change12()" value="Quanity and Price-12">
                    <option value="1 piece ~ ₹59">1 piece ~ ₹59</option>
                    <option value="2 pieces ~ ₹109">2 pieces ~ ₹109</option>
                    <option value="3 pieces ~ ₹169">3 pieces ~ ₹169</option>
                    <option value="4 pieces ~ ₹219">4 pieces ~ ₹219</option>
                </select>
            </form>
            <p id="demo12" class="item-price"></p>
            <p class="description">Cherry and vanilla lovers, come get your treat!</p>
            <p><button onclick="add_to_cart('7','Purple Snow','59')">Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="https://i.pinimg.com/564x/c5/8f/22/c58f2249a2b73e9d8ec59a14dfcbc183.jpg" class="item-img">
            <h1>Hazel Mocha</h1>
            <form name="form15">
                <select id="a15" class="price-dropdown" name="select15" Onchange="change15()" value="Quanity and Price-15">
                    <option value="1 piece ~ ₹59">1 piece ~ ₹59</option>
                    <option value="2 pieces ~ ₹109">2 pieces ~ ₹109</option>
                    <option value="3 pieces ~ ₹169">3 pieces ~ ₹169</option>
                    <option value="4 pieces ~ ₹219">4 pieces ~ ₹219</option>
                </select>
            </form>
            <p id="demo15" class="item-price"></p>
            <p class="description">Sweet, nutty cake with a rich chocolate frosting, flavored with espresso!</p>
            <p><button onclick="add_to_cart('8','Hazel Mocha','59')">Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="https://i.pinimg.com/474x/fa/8e/8d/fa8e8d71185d15644ce425973fd399b4.jpg" class="item-img">
            <h1>Blending Tastes</h1>
            <form name="form16">
                <select id="a16" class="price-dropdown" name="select16" Onchange="change16()" value="Quanity and Price-16">
                    <option value="1 piece ~ ₹69">1 piece ~ ₹69</option>
                    <option value="2 pieces ~ ₹135">2 pieces ~ ₹135</option>
                    <option value="3 pieces ~ ₹199">3 pieces ~ ₹199</option>
                    <option value="4 pieces ~ ₹265">4 pieces ~ ₹265</option>
                </select>
            </form>
            <p id="demo16" class="item-price"></p>
            <p class="description">An extraordinary honey, walnut and poppy seed cake!</p>
            <p><button onclick="add_to_cart('9','Blending Tastes','69')">Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="https://i.pinimg.com/474x/33/7d/a9/337da91cb4c1b8bb1580315b396f2caf.jpg" class="item-img">
            <h1>Pouring Love</h1>
            <form name="form14">
                <select id="a14" class="price-dropdown" name="select14" Onchange="change14()" value="Quanity and Price-14">
                    <option value="1 piece ~ ₹69">1 piece ~ ₹69</option>
                    <option value="2 pieces ~ ₹135">2 pieces ~ ₹135</option>
                    <option value="3 pieces ~ ₹199">3 pieces ~ ₹199</option>
                    <option value="4 pieces ~ ₹265">4 pieces ~ ₹265</option>
                </select>
            </form>
            <p id="demo14" class="item-price"></p>
            <p class="description">Esterhazy torte with chocolate hazelnut praline creme patisserie!</p>
            <p><button onclick="add_to_cart('10','Pouring Love','69')">Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="https://i.pinimg.com/474x/90/dc/bb/90dcbb85546dd9231f305e851fdfa30f.jpg" class="item-img">
            <h1>Berry Delight</h1>
            <form name="form11">
                <select id="a11" class="price-dropdown" name="select11" Onchange="change11()" value="Quanity and Price-11">
                    <option value="1 piece ~ ₹79">1 piece ~ ₹79</option>
                    <option value="2 pieces ~ ₹155">2 pieces ~ ₹155</option>
                    <option value="3 pieces ~ ₹229">3 pieces ~ ₹229</option>
                    <option value="4 pieces ~ ₹299">4 pieces ~ ₹299</option>
                </select>
            </form>
            <p id="demo11" class="item-price"></p>
            <p class="description">For those who like strawberry but can't have too much, here's your cue!</p>
            <p><button onclick="add_to_cart('11','Berry Delight','79')">Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="https://i.pinimg.com/474x/a3/67/0f/a3670fc3a74986e0f8e506ec33d04aaf.jpg" class="item-img">
            <h1>Red Choco</h1>
            <form name="form13">
                <select id="a13" class="price-dropdown" name="select13" Onchange="change13()" value="Quanity and Price-13">
                    <option value="1 piece ~ ₹79">1 piece ~ ₹79</option>
                    <option value="2 pieces ~ ₹155">2 pieces ~ ₹155</option>
                    <option value="3 pieces ~ ₹229">3 pieces ~ ₹229</option>
                    <option value="4 pieces ~ ₹299">4 pieces ~ ₹299</option>
                </select>
            </form>
            <p id="demo13" class="item-price"></p>
            <p class="description">Classic red velvet with a chocolaty twist!</p>
            <p><button onclick="add_to_cart('12','Red Choco','79')">Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="https://i.pinimg.com/474x/80/4e/2a/804e2a90e7976419258cf2c8656fbb95.jpg" class="item-img">
            <h1>Hazel Reality</h1>
            <form name="form17">
                <select id="a17" class="price-dropdown" name="select17" Onchange="change17()" value="Quanity and Price-17">
                    <option value="1 piece ~ ₹79">1 piece ~ ₹79</option>
                    <option value="2 pieces ~ ₹155">2 pieces ~ ₹155</option>
                    <option value="3 pieces ~ ₹229">3 pieces ~ ₹229</option>
                    <option value="4 pieces ~ ₹299">4 pieces ~ ₹299</option>
                </select>
            </form>
            <p id="demo17" class="item-price"></p>
            <p class="description">A hazelnut spongecake with nutella chocolate and cream!</p>
            <p><button onclick="add_to_cart('13','Hazel Reality','79')">Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="https://i.pinimg.com/564x/0d/bf/7d/0dbf7d0d250a3d11bc02ca45fd69f25f.jpg" class="item-img">
            <h1>Princess Crown</h1>
            <form name="form18">
                <select id="a18" class="price-dropdown" name="select18" Onchange="change18()" value="Quanity and Price-18">
                    <option value="1 piece ~ ₹79">1 piece ~ ₹79</option>
                    <option value="2 pieces ~ ₹155">2 pieces ~ ₹155</option>
                    <option value="3 pieces ~ ₹229">3 pieces ~ ₹229</option>
                    <option value="4 pieces ~ ₹299">4 pieces ~ ₹299</option>
                </select>
            </form>
            <p id="demo18" class="item-price"></p>
            <p class="description">Bringing you the goodness of swedish princess cake!</p>
            <p><button onclick="add_to_cart('14','Princess Crown','79')">Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="https://i.pinimg.com/236x/6e/84/41/6e844100cf05cb6fc999a648e7b64f99.jpg" class="item-img">
            <h1>Falling Berry</h1>
            <form name="form4">
                <select id="a4" class="price-dropdown" name="select4" Onchange="change4()" value="Quanity and Price-4">
                    <option value="1 piece ~ ₹79">1 piece ~ ₹79</option>
                    <option value="2 pieces ~ ₹155">2 pieces ~ ₹155</option>
                    <option value="3 pieces ~ ₹229">3 pieces ~ ₹229</option>
                    <option value="4 pieces ~ ₹299">4 pieces ~ ₹299</option>
                </select>
            </form>
            <p id="demo4" class="item-price"></p>
            <p class="description">The perfect short dessert for strawberry lovers!</p>
            <p><button onclick="add_to_cart('15','Falling Berry','79')">Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="https://i.pinimg.com/564x/f0/c1/15/f0c1154f0ad5be628c9ab86daa6f46af.jpg" class="item-img">
            <h1>Coco Lemon</h1>
            <form name="form5">
                <select id="a5" class="price-dropdown" name="select5" Onchange="change5()" value="Quanity and Price-5">
                    <option value="1 piece ~ ₹79">1 piece ~ ₹79</option>
                    <option value="2 pieces ~ ₹155">2 pieces ~ ₹155</option>
                    <option value="3 pieces ~ ₹229">3 pieces ~ ₹229</option>
                    <option value="4 pieces ~ ₹299">4 pieces ~ ₹299</option>
                </select>
            </form>
            <p id="demo5" class="item-price"></p>
            <p class="description"> A tangy lemon mousse with hints of coconut on a sweet biscuit base!</p>
            <p><button onclick="add_to_cart('16','Coco Lemon','79')">Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="https://i.pinimg.com/474x/7e/fa/3e/7efa3e9e55d8cf5b5da0483ab4ca5fec.jpg" class="item-img">
            <h1>Layered Berries</h1>
            <form name="form6">
                <select id="a6" class="price-dropdown" name="select6" Onchange="change6()" value="Quanity and Price-6">
                    <option value="1 piece ~ ₹79">1 piece ~ ₹79</option>
                    <option value="2 pieces ~ ₹155">2 pieces ~ ₹155</option>
                    <option value="3 pieces ~ ₹229">3 pieces ~ ₹229</option>
                    <option value="4 pieces ~ ₹299">4 pieces ~ ₹299</option>
                </select>
            </form>
            <p id="demo6" class="item-price"></p>
            <p class="description">Strawberry and blueberry layered with vanilla cream!</p>
            <p><button onclick="add_to_cart('17','Layered Berries','79')">Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="https://i.pinimg.com/564x/b8/cf/23/b8cf235e688d6b3ac446588eb8059db7.jpg" class="item-img">
            <h1>Mango Passion</h1>
            <form name="form3">
                <select id="a3" class="price-dropdown" name="select3" Onchange="change3()" value="Quanity and Price-3">
                    <option value="1 piece ~ ₹99">1 piece ~ ₹99</option>
                    <option value="2 pieces ~ ₹179">2 pieces ~ ₹179</option>
                    <option value="3 pieces ~ ₹259">3 pieces ~ ₹259</option>
                    <option value="4 pieces ~ ₹349">4 pieces ~ ₹349</option>
                </select>
            </form>
            <p id="demo3" class="item-price"></p>
            <p class="description">A bakery special, mango and passionfruit pastry!</p>
            <p><button onclick="add_to_cart('18','Mango Passion','99')">Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="https://i.pinimg.com/474x/2f/be/b3/2fbeb352cdd0780f07abce9c3c06ff88.jpg" class="item-img">
            <h1>Cookies n cream</h1>
            <form name="form8">
                <select id="a8" class="price-dropdown" name="select8" Onchange="change8()" value="Quanity and Price-8">
                    <option value="1 piece ~ ₹99">1 piece ~ ₹99</option>
                    <option value="2 pieces ~ ₹179">2 pieces ~ ₹179</option>
                    <option value="3 pieces ~ ₹259">3 pieces ~ ₹259</option>
                    <option value="4 pieces ~ ₹349">4 pieces ~ ₹349</option>
                </select>
            </form>
            <p id="demo8" class="item-price"></p>
            <p class="description">Choco, vanilla, and your all time favorite oreos!</p>
            <p><button onclick="add_to_cart('19','Cookies n cream','99')">Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="https://i.pinimg.com/474x/51/86/0c/51860c85d73311bc31b5f3419ffdb7e7.jpg" class="item-img">
            <h1>Choco Nut</h1>
            <form name="form10">
                <select id="a10" class="price-dropdown" name="select10" Onchange="change10()" value="Quanity and Price-10">
                    <option value="1 piece ~ ₹99">1 piece ~ ₹99</option>
                    <option value="2 pieces ~ ₹179">2 pieces ~ ₹179</option>
                    <option value="3 pieces ~ ₹259">3 pieces ~ ₹259</option>
                    <option value="4 pieces ~ ₹349">4 pieces ~ ₹349</option>
                </select>
            </form>
            <p id="demo10" class="item-price"></p>
            <p class="description">A delightful blend of chocolate and hazelnut!</p>
            <p><button onclick="add_to_cart('20','Choco Nut','99')">Add to Cart</button></p>
        </div>

    	<div class="card">
    		<img src="https://i.pinimg.com/564x/4d/9b/ee/4d9beeb206e0a833c0687577c1be7c24.jpg" class="item-img">
    		<h1>Blackberry Crunch</h1>
            <form name="form">
                <select id="a1" class="price-dropdown" name="select" Onchange="change()" value="Quanity and Price">
                    <option value="1 piece ~ ₹99">1 piece ~ ₹99</option>
                    <option value="2 pieces ~ ₹179">2 pieces ~ ₹179</option>
                    <option value="3 pieces ~ ₹259">3 pieces ~ ₹259</option>
                    <option value="4 pieces ~ ₹349">4 pieces ~ ₹349</option>
                </select>
            </form>
            <p id="demo" class="item-price"></p>    
    		<p class="description">The perfect balance of blackberry and vanilla cream!</p>
    		<p><button onclick="add_to_cart('21','Blackberry Crunch','99')">Add to Cart</button></p>
    	</div>

    	<div class="card">
    		<img src="https://i.pinimg.com/564x/e5/c7/62/e5c7623996da2438fef870af7c936b73.jpg" class="item-img">
    		<h1>Choco Truffle</h1>
    		<form name="form2">
                <select id="a2" class="price-dropdown" name="select2" Onchange="change2()" value="Quanity and Price-2">
                    <option value="1 piece ~ ₹119">1 piece ~ ₹119</option>
                    <option value="2 pieces ~ ₹235">2 pieces ~ ₹235</option>
                    <option value="3 pieces ~ ₹349">3 pieces ~ ₹349</option>
                    <option value="4 pieces ~ ₹465">4 pieces ~ ₹465</option>
                </select>
            </form>
            <p id="demo2" class="item-price"></p>
    		<p class="description">A blend of four layers of chocolate to give you a rich taste!</p>
    		<p><button onclick="add_to_cart('22','Choco Truffle','119')">Add to Cart</button></p>
    	</div>

    	<div class="card">
    		<img src="https://i.pinimg.com/474x/a3/5a/ae/a35aaec2fe45077eb703fc542ebc355a.jpg" class="item-img">
    		<h1>Black Forest</h1>
    		<form name="form7">
                <select id="a7" class="price-dropdown" name="select7" Onchange="change7()" value="Quanity and Price-7">
                    <option value="1 piece ~ ₹119">1 piece ~ ₹119</option>
                    <option value="2 pieces ~ ₹235">2 pieces ~ ₹235</option>
                    <option value="3 pieces ~ ₹349">3 pieces ~ ₹349</option>
                    <option value="4 pieces ~ ₹465">4 pieces ~ ₹465</option>
                </select>
            </form>
            <p id="demo7" class="item-price"></p>
    		<p class="description">Chocolate chocolate chocolate! Do I need to say more?</p>
    		<p><button onclick="add_to_cart('23','Black Forest','119')">Add to Cart</button></p>
    	</div>

    	

    	<div class="card">
    		<img src="https://i.pinimg.com/474x/bc/d8/e9/bcd8e92335551cc9dacee0515cbfcc6c.jpg" class="item-img">
    		<h1>Spring Delight</h1>
    		<form name="form9">
                <select id="a9" class="price-dropdown" name="select9" Onchange="change9()" value="Quanity and Price-9">
                    <option value="1 piece ~ ₹129">1 piece ~ ₹129</option>
                    <option value="2 pieces ~ ₹249">2 pieces ~ ₹249</option>
                    <option value="3 pieces ~ ₹379">3 pieces ~ ₹379</option>
                    <option value="4 pieces ~ ₹499">4 pieces ~ ₹499</option>
                </select>
            </form>
            <p id="demo9" class="item-price"></p>
    		<p class="description">Pretty strawberry to transport you back to spring!</p>
    		<p><button onclick="add_to_cart('24','Spring Delight','129')">Add to Cart</button></p>
    	</div> {% endcomment %}

 